<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900,900italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Henk comics</title>
</head>
<body class="bg-slideshow">

    <!-- nav bar top --> 
    <nav class="clearfix top-menu">
        <a href="" class="henk-logo-link">
            <img src="img/henk-logo.svg" onerror="this.onerror=null; this.src='img/henk-logo.png'" class="henk-logo">
        </a>

        <a href="#" class="hamburger">Menu <span class="fa fa-bars"></span></a>

        <ul class="">
            <li><a href="#">Home</a></li>

            <li class="dropdown">
                <a href="#">Store<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Comics</a></li>
                    <li><a href="#">Manga</a></li>
                    <li><a href="#">Books</a></li>
                    <li><a href="#">Toys</a></li>
                    <li><a href="#">Posters</a></li>
                    <li><a href="#">Gift card</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#">Events<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Livestream</a></li>
                </ul>
            </li>
            
            <li><a href="#">Subscription</a></li>
            <li><a href="#">Actiekaart</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>

        </ul>
    </nav>
            


    <div class="container">
        <!-- events --> 
        <div class="row">
            <section class="col-md-12 regular-page">
                <h1 class="centered-red">Contact</h1>

                

            </section>
        </div>       
    </div>

    <footer>
        <ul>
            <li>&#169; 2011 &ndash; 2015 Comics B.V.</li>
            <li>Geldersekade 96, 1012 BM Amsterdam</li>
            <li>Tel: (020) 4213688</li>
            <li>E&ndash;mail: henk@comics.nl</li>
        </ul>
    </footer>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/default.js"></script>
</body>
</html>