<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900,900italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Henk comics</title>
</head>
<body class="bg-slideshow">

    <!-- nav bar top --> 
    <nav class="clearfix top-menu">
        <a href="" class="henk-logo-link">
            <img src="img/henk-logo.svg" onerror="this.onerror=null; this.src='img/henk-logo.png'" class="henk-logo">
        </a>

        <a href="#" class="hamburger">Menu <span class="fa fa-bars"></span></a>

        <ul class="">
            <li><a href="#">Home</a></li>

            <li class="dropdown">
                <a href="#">Store<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Comics</a></li>
                    <li><a href="#">Manga</a></li>
                    <li><a href="#">Books</a></li>
                    <li><a href="#">Toys</a></li>
                    <li><a href="#">Posters</a></li>
                    <li><a href="#">Gift card</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#">Events<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Livestream</a></li>
                </ul>
            </li>
            
            <li><a href="#">Subscription</a></li>
            <li><a href="#">Actiekaart</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>

        </ul>
    </nav>
            


    <div class="container">
        <!-- events --> 
        <div class="row">
            <section class="col-md-10 col-md-offset-1 regular-page">
                <h1 class="centered-red">Events</h1>

                <section class="facebook-event">
                    <div class="row">
                        <section class="col-xs-6">
                            <h2>Location</h2>
                            <p> Come visit us for Free Comic Book Day and Mega Manga Super Sale on the 2nd and 3rd (1e weekend) of May!
                            Celebrate with us 20 years of Henk Comics &amp; Manga Store!!!
                            <ul>
                                <li>Be the last to visit Henk's Pop-up store in it's final days,... Everything must go!!</li>
                                <li>Cosplay Contest: Win Fabulous prizes!</li>
                                <li>20% Super Sale, Contests and Giveaways</li>
                                <li>And much, much more!</li>
                            </ul>
                            </p>
                            <a href="#" class="nav-link">Lees meer <span class="fa fa-arrow-circle-right"></span></a>
                        </section>

                        <section class="col-xs-6 cutoff-img triangle-mask-left comicbookstoreday">
                            <div class="date">
                                <span class="date-day">09</span>
                                <span class="date-month">november</span>
                            </div> 
                        </section>
                    </div>
                </section>

                <section class="facebook-event">
                    <div class="row">    
                        <section class="col-xs-6 cutoff-img triangle-mask-right comicbookstoreday">
                            <div class="date">
                                <span class="date-day">09</span>
                                <span class="date-month">november</span>
                            </div> 
                        </section>
                        
                        <section class="col-xs-6">
                            
                        <h2>Opening times</h2>
                            <p>monday: 11:00 - 19:00</p>
                            <p>tuesday: 11:00 - 19:00</p>
                            <p>wednessday: 11:00 - 19:00</p>
                            <p>thursday: 11:00 - 19:00</p>
                            <p>friday: 11:00 - 19:00</p>
                            <p>saturday: 11:00 - 19:00</p>
                            <p>sunday: 11:00 - 19:00</p>
                        </section>
                    </div>
                    </section>

                

            </section>
        </div>       
    </div>

    <footer>
        <ul>
            <li>&#169; 2011 &ndash; 2015 Comics B.V.</li>
            <li>Geldersekade 96, 1012 BM Amsterdam</li>
            <li>Tel: (020) 4213688</li>
            <li>E&ndash;mail: henk@comics.nl</li>
        </ul>
    </footer>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/default.js"></script>
</body>
</html>