<!DOCTYPE html>
<html lang="en" class="graybg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900,900italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Henk comics</title>
</head>
<body class="bg-slideshow ">

    <!-- nav bar top --> 
    <nav class="clearfix top-menu">
        <a href="" class="henk-logo-link">
            <img src="img/henk-logo.svg" onerror="this.onerror=null; this.src='img/henk-logo.png'" class="henk-logo">
        </a>

        <a href="#" class="hamburger">Menu <span class="fa fa-bars"></span></a>

        <ul class="">
            <li><a href="#">Home</a></li>

            <li class="dropdown">
                <a href="#">Store<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Comics</a></li>
                    <li><a href="#">Manga</a></li>
                    <li><a href="#">Books</a></li>
                    <li><a href="#">Toys</a></li>
                    <li><a href="#">Posters</a></li>
                    <li><a href="#">Gift card</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#">Events<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Livestream</a></li>
                </ul>
            </li>
            
            <li><a href="#">Subscription</a></li>
            <li><a href="#">Actiekaart</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>

        </ul>
    </nav>
            


    <div class="container">

        <!-- new products --> 
        <div class="row">
            <section class="featured gallery col-md-10 col-md-offset-1">
                <h1><b>New</b> items</h1>
                <a href="" class="nav-link">All items <span class="fa fa-arrow-circle-right"></span></a>
                <div>
                    <a href="" class="col-md-2">
                        <figure>
                            <img src="img/comics/1.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">
                            <figcaption>Decicion 2012 barack obama variant 1:10</figcaption>
                        </figure>
                        
                    </a>

                    <a href="" class="col-md-2">
                        <figure>
                            <img src="img/comics/2.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">
                            <figcaption>Generation hope #13 variant 1:15</figcaption>
                        </figure>
                    </a>

                    <a href="" class="col-md-2">
                        <figure>
                            <img src="img/comics/3.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">
                            <figcaption>Fantastic Four</figcaption>
                        </figure>
                    </a>

                    <a href="" class="col-md-2">
                        <figure>
                            <img src="img/comics/4.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">
                            <figcaption>New mutants #5 variant</figcaption>
                        </figure>
                    </a>

                    <a href="" class="col-md-2">
                        <figure>
                            <img src="img/comics/5.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">
                            <figcaption>Rock back tour #7 variant</figcaption>
                        </figure>
                    </a>

                    <a href="" class="col-md-2">
                        <figure>
                            <img src="img/comics/6.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">
                            <figcaption>The flash #17</figcaption>
                        </figure>
                    </a>

                    <a href="" class="col-md-2">
                        <figure>
                            <img src="img/comics/7.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">
                            <figcaption>Action Comics #5 variant</figcaption>
                        </figure>
                    </a>
                </div>
            </section>  
        </div>       
        
    </div>

    <section class="openingTime">
        <h1>Business hours</h1>
        <ul>
            <li>Monday-11:00-19:00</li>
            <li>Tuesday-11:00-19:00</li>
            <li><em class="current-day">Wednesday-11:00-19:00</em></li>
            <li>Thursday-11:00-19:00</li>
            <li>Friday-11:00-19:00</li>
            <li>Saturday-11:00-19:00</li>
            <li>Sunday-11:00-19:00</li>
        </ul>
    </section>

    <div class="graybg">
        <div class="container">

            <div class="row">
                <div class="col-md-7">
                    <!-- Top picks -->
                    <section class="top-picks">
                        <h1><b>Top</b> picks of the week</h1>
                        <div class="img-box">
                            <img class="primary-img" src="img/top-picks_scott-pilgrim.jpg" alt="">
                            <img class="secondary-img" src="img/top-picks_superman.jpg" alt="">
                            <img class="secondary-img" src="img/top-picks_comic.jpg" alt="">     
                        </div>
                        <h2>Scott Pilgrim VS the world</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
                        <a href="" class="nav-link">To the top picks <span class="fa fa-arrow-circle-right"></span></a>
                    </section>

                    <!-- henks facebook 2 -->
                    <section class="henks-facebook">
                        <h1><b>Henk's</b> facebook</h1>
                        <div class="row">
                            <div class="col-xs-6">
                                <h2>Henks 20th anniversary weekend</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt magnam laboriosam harum a dolor, quod eius maiores necessitatibus? dipisicing elit. Deserunt magnam laboriosam harum a dolor,</p>
                                <a href="" class="nav-link">Bekijk op facebook <span class="fa fa-arrow-circle-right"></span></a>
                            </div>
                            <div class="col-xs-6 triangle-mask-left">
                                <img src="img/facebook-post.jpg" alt="">
                                <div class="date">
                                    <span class="date-day">09</span>
                                    <span class="date-month">november</span>
                                </div> 
                            </div>
                        </div>
                    </section>
                </div>


                <div class="col-md-5">
                    
                    <!-- Actiekaart -->
                    <section class="actiekaart clearfix">
                        <h1>Henks actiekaart</h1>
                        <img src="img/pasje.png" alt="">
                        <div class="textblock">
                            <p>Order now and experience the advantages of the Henk Actiekaart!</p>
                            <a href="" class="nav-link">Order now <span class="fa fa-arrow-circle-right"></span></a>
                        </div>
                    </section>


                    <!-- Ask henk -->
                    <section class="ask-henk">
                        <div class="innerbox">
                            <img class="ask-henk-head" src="img/henk-head.png" alt="Ask Henk">
                            <img class="ask-henk-logo" src="img/henk-speech.png" alt="Henk face">
                            <section class="conversation">
                                <p class="question">Hey henk, komt de nieuwe Flash deze week binnen?</p>
                                <p class="answer">Yes! Maandag!</p>
                                <p class="question">Hey henk, komt de nieuwe Flash deze week binnen?</p>
                                <p class="answer">Yes! Maandag!</p>
                                <p class="question">Hey henk, komt de nieuwe Flash deze week binnen?</p>
                                <p class="answer">Yes! Maandag!</p>
                                <p class="question">Hey henk, komt de nieuwe Flash deze week binnen?</p>
                                <p class="answer">Yes! Maandag!</p>
                            </section>
                            <label>Ask us anything here:
                                <input type="text"><button>send</button>
                            </label>
                        </div>
                    </section>   
                </div>
            

                <!-- Upcoming event -->
                <section class="facebook-event facebook-event-home col-md-12">
                    <div class="row">
                        <section class="col-sm-6 cutoffbox-text">
                            <h1>Upcoming <b>event</b></h1>
                            <p> Come visit us for Free Comic Book Day and Mega Manga Super Sale on the 2nd and 3rd (1e weekend) of May! Celebrate with us 20 years of Henk Comics &amp; Manga Store!!!</p>
                            <ul>
                                <li>Be the last to visit Henk's Pop-up store in it's final days,... Everything must go!!</li>
                                <li>Cosplay Contest: Win Fabulous prizes!</li>
                                <li>20% Super Sale, Contests and Giveaways</li>
                                <li>And much, much more!</li>
                            </ul>
                            
                            <a href="#" class="nav-link home-fb-event-link">Lees meer <span class="fa fa-arrow-circle-right"></span></a>
                        </section>

                        <section class="col-sm-6 cutoffbox-img triangle-mask-left comicbookstoreday">
                            <div class="date">
                                <span class="date-day">09</span>
                                <span class="date-month">november</span>
                            </div> 
                        </section>
                    </div>
                </section>

            </div>
        </div>
    </div>    

    <section class="location">
        <h1>Locatie</h1>
        <div class="map-container">
           <!-- map goes 'ere -->
        </div>
    </section>

    <footer>
        <ul>
            <li>&#169; 2011 &ndash; 2015 Comics B.V.</li>
            <li>Geldersekade 96, 1012 BM Amsterdam</li>
            <li>Tel: (020) 4213688</li>
            <li>E&ndash;mail: henk@comics.nl</li>
        </ul>
    </footer>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/default.js"></script>
</body>
</html>