<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900,900italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Henk comics</title>
</head>
<body>

    <!-- nav bar top --> 
    <nav>
        <a href="">
            <img src="img/henk-logo.svg" onerror="this.onerror=null; this.src='img/henk-logo.png'" class="henk-logo">
        </a>
        

        <ul>
            <li><a href="#">Home</a></li>

            <li class="dropdown">
                <a href="#">Store<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Comics</a></li>
                    <li><a href="#">Manga</a></li>
                    <li><a href="#">Books</a></li>
                    <li><a href="#">Toys</a></li>
                    <li><a href="#">Posters</a></li>
                    <li><a href="#">Gift card</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#">Events<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Livestream</a></li>
                </ul>
            </li>
            
            <li><a href="#">Subscription</a></li>
            <li><a href="#">Actiekaart</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>

        </ul>  
    </nav>

            


    <div class="container">

        <!-- new products --> 
        <div class="row">
            <section class="featured gallery col-md-10 col-md-offset-1">
                <h1><b>New</b> comics</h1>
                <a href="" class="nav-link">Alle comics <span class="fa fa-arrow-circle-right"></span></a>
                <div>
                    <a href="" class="col-md-2">
                        <figure>
                            <img src="img/comics/1.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">
                            <figcaption>Decicion 2012 barack obama variant 1:10</figcaption>
                        </figure>
                        
                    </a>

                    <a href="" class="col-md-2">
                        <figure>
                            <img src="img/comics/2.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">
                            <figcaption>Generation hope #13 variant 1:15</figcaption>
                        </figure>
                    </a>

                    <a href="" class="col-md-2">
                        <figure>
                            <img src="img/comics/3.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">
                            <figcaption>Fantastic Four</figcaption>
                        </figure>
                    </a>

                    <a href="" class="col-md-2">
                        <figure>
                            <img src="img/comics/4.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">
                            <figcaption>New mutants #5 variant</figcaption>
                        </figure>
                    </a>

                    <a href="" class="col-md-2">
                        <figure>
                            <img src="img/comics/5.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">
                            <figcaption>Rock back tour #7 variant</figcaption>
                        </figure>
                    </a>

                    <a href="" class="col-md-2">
                        <figure>
                            <img src="img/comics/6.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">
                            <figcaption>The flash #17</figcaption>
                        </figure>
                    </a>

                    <a href="" class="col-md-2">
                        <figure>
                            <img src="img/comics/7.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">
                            <figcaption>Action Comics #5 variant</figcaption>
                        </figure>
                    </a>
                </div>
            </section>  
        </div>       
        
    </div>

    <section class="openingTime">
        <ul>
            <li>Monday-11:00-19:00</li>
            <li>Tuesday-11:00-19:00</li>
            <li><em class="current-day">Wednesday-11:00-19:00</em></li>
            <li>Thursday-11:00-19:00</li>
            <li>Friday-11:00-19:00</li>
            <li>Saturday-11:00-19:00</li>
            <li>Sunday-11:00-19:00</li>
        </ul>
    </section>

    <div class="graybg">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    
                    <!-- Top picks -->
                    <section class="top-picks">
                        <h1><b>Top</b> picks of the week</h1>
                        <div class="img-box">
                            <img class="primary-img" src="img/top-picks_scott-pilgrim.jpg" alt="">
                            <img class="secondary-img" src="img/top-picks_superman.jpg" alt="">
                            <img class="secondary-img" src="img/top-picks_comic.jpg" alt="">     
                        </div>
                        <h2>Scott Pilgrim VS the world</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
                        <a href="" class="nav-link">To the top picks <span class="fa fa-arrow-circle-right"></span></a>
                    </section>


                    <!-- henks facebook -->
                    <section class="henks-facebook">
                        <h1><b>Henk's</b> facebook</h1>
                        <h2>Henks 20th anniversary weekend</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt magnam laboriosam harum a dolor, quod eius maiores necessitatibus? dipisicing elit. Deserunt magnam laboriosam harum a dolor,</p>
                        <a href="" class="nav-link">Bekijk op facebook <span class="fa fa-arrow-circle-right"></span></a>
                        <div class="date">
                            <span class="date-day">09</span>
                            <span class="date-month">november</span>
                        </div>
                    </section>


                </div>


                <div class="col-md-5">
                    
                    <!-- Actiekaart -->
                    <section class="actiekaart clearfix">
                        <h1>Henks actiekaart</h1>
                        <img src="img/pasje.png" alt="">
                        <div class="textblock">
                            <p>Order now and experience the advantages of the Henk Actiekaart!</p>
                            <a href="" class="nav-link">Order now <span class="fa fa-arrow-circle-right"></span></a>
                        </div>
                    </section>


                    <!-- Ask henk -->
                    <section class="ask-henk">
                        <div class="innerbox">
                            <img class="ask-henk-head" src="img/henk-head.png" alt="Ask Henk">
                            <img class="ask-henk-logo" src="img/henk-speech.png" alt="Henk face">
                            <section class="conversation">
                                <p class="question">Hey henk, komt de nieuwe Flash deze week binnen?</p>
                                <p class="answer">Yes! Maandag!</p>
                                <p class="question">Hey henk, komt de nieuwe Flash deze week binnen?</p>
                                <p class="answer">Yes! Maandag!</p>
                                <p class="question">Hey henk, komt de nieuwe Flash deze week binnen?</p>
                                <p class="answer">Yes! Maandag!</p>
                                <p class="question">Hey henk, komt de nieuwe Flash deze week binnen?</p>
                                <p class="answer">Yes! Maandag!</p>
                            </section>
                            <label>Ask us anything here:
                                <input type="text"><button>send</button>
                            </label>
                        </div>
                    </section>

                    
                </div>
            </div>
        </div>
    </div>
    
    <!-- Upcoming event -->
    <section class="event">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>The upcoming <b>event</b></h1>
                </div>
            </div>
        </div>
        <img src="img/upcoming-event.jpg" alt="" class="event-image">
        <div class="container event-textcontainer">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h3>22-23 december</h3>
                    <h2>Some Crazy Event</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus cupiditate, nam. </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta asperiores aliquam nisi ex dicta! Pariatur quibusdam odio dicta eaque aspernatur blanditiis totam, autem quis. Sequi numquam, ducimus dolorem sed cupiditate!</p>
                </div>
                <div class="col-md-5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta asperiores aliquam nisi ex dicta! Pariatur quibusdam odio dicta eaque aspernatur blanditiis totam, autem quis. Sequi numquam, ducimus dolorem sed cupiditate! Pariatur quibusdam odio dicta eaque aspernatur blanditiis totam, autem quis. Sequi numquam, ducimus dolorem sed cupiditate!</p>
                    <a class="to-event" href=""></a>
                </div>
            </div>
        </div>
    </section>

    <section class="location">
        <h1>Locatie</h1>
        <div class="map-container">
           <!-- map goes 'ere -->
        </div>
    </section>

    <footer>
        <ul>
            <li>&#169; 2011 &ndash; 2015 Comics B.V.</li>
            <li>Geldersekade 96, 1012 BM Amsterdam</li>
            <li>Tel: (020) 4213688</li>
            <li>E&ndash;mail: henk@comics.nl</li>
        </ul>
    </footer>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/default.js"></script>
</body>
</html>