<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300, 400,600,900,900italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Henk comics</title>
</head>
<body>

    <!-- nav bar top --> 
    <nav class="clearfix top-menu">
        <a href="" class="henk-logo-link">
            <img src="img/henk-logo.svg" onerror="this.onerror=null; this.src='img/henk-logo.png'" class="henk-logo">
        </a>

        <a href="#" class="hamburger">Menu <span class="fa fa-bars"></span></a>

        <ul class="">
            <li><a href="#">Home</a></li>

            <li class="dropdown">
                <a href="#">Store<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Comics</a></li>
                    <li><a href="#">Manga</a></li>
                    <li><a href="#">Books</a></li>
                    <li><a href="#">Toys</a></li>
                    <li><a href="#">Posters</a></li>
                    <li><a href="#">Gift card</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#">Events<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Livestream</a></li>
                </ul>
            </li>
            
            <li><a href="#">Subscription</a></li>
            <li><a href="#">Actiekaart</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>

        </ul>
    </nav>
            


    <div class="container products-page">

        <!-- new products --> 
        <div class="row">
            <section class="col-md-3 product-menu">
                <h2>Store</h2>
                <nav>
                    <a href="" class="cart">
                        <img class="cart-img" src="img/cart.png" alt="shopping basket">
                        <span class="amount-in-cart">2</span>    
                    </a>
                    
                    <ul>
                        <li><a href="">All items <span>&gt;</span> </a></li>
                        <li class="acive"><a href="">Comics <span>&gt;</span> </a></li>
                        <li><a href="">Books <span>&gt;</span> </a></li>
                        <li><a href="">Toys <span>&gt;</span> </a></li>
                        <li><a href="">Posters <span>&gt;</span> </a></li>
                        <li><a href="">Gift card <span>&gt;</span> </a></li>
                    </ul>

                    <p>We accept:</p>
                    <img class="paypal" src="img/paypal.png" alt="">
                    <img class="ideal" src="img/ideal.png" alt="">
                </nav>
            </section>

            <section class="col-md-9 product-zoom">

                <nav class="product-pagination">
                    <a href="" class="back"><span class="fa fa-arrow-circle-left"></span> Go back</a>
                    <span class="directions">
                        <a href="" class="previous"><span class="fa fa-arrow-circle-left"></span> previous</a>
                        <a href="" class="next">next <span class="fa fa-arrow-circle-right"></span></a>    
                    </span>
                </nav>                 
                
                <article>
                    <h1 class="product-title">Fantastic Four #601</h1>
                    <h2 class="price">&euro; 20,00</h2>
                    <h3 class="variant">super secret limited edition</h3>
                      
                    <div class="row">
                        <section class="col-xs-8">
                            <div class="description-box">
                                <p class="comic-description">Tenma learns that ten years ago, a woman lived in an old apartment house
                                    in downtown Prague with twin children, above a sign with three frogs.
                                    The neighbors also tell him about the Czech secret police and a
                                    questionable fire. Could the twins have been Johan and Anna?
                                    Meanwhile, Suk, a young detective in the Prague Police Department, meets
                                    a beautiful young woman named Anna in a bar. Suk also crosses paths with
                                    Tenma as a new terror looms over them.
                                    BKA chief inspector Lunge, now convinced of Johan's involvement in the
                                    serial murders, comes to Prague to find out what Johan really is. He
                                    learns that an agent of the Czech secret police created the strange
                                    picture book The Nameless Monster, which seems to have deeply affected
                                    Johan in his childhood. Lunge manages to locate the "Red Rose Mansion"
                                    that inspired the author of the book. There, behind a thickly plastered
                                    wall, he discovers an old door and the true horrors that lay behind it!</p>
                                <a href="#" class="read-more">read more</a>
                            </div>

                            <section class="add-to-cart">
                                <input class="amount" type="text" min="1" max="10" value="1"/>  
                                <a href="#" class="nav-link">Add to basket <span class="fa fa-arrow-circle-right"></span></a>
                            </section>
                                
                            <section class="summary">
                                <table>
                                    <caption>Summary</caption>
                                    <tr class="summary-brand"><th>Brand:</th><td>Marvel Comics</td></tr>
                                    <tr class="summary-instock"><th>In stock:</th><td>1</td></tr>
                                </table>
                            </section>
                            
                            
                        </section>

                        <section class="col-xs-4">
                            <img src="img/comics/1.jpg" class="comic-img" alt="">
                            <p class="stock-status">stock status: <em>in stock</em></p>
                        </section>
                        
                    </div>  
                </article>
            </section>  
        </div>       
        
    </div>

    <footer>
        <ul>
            <li>&#169; 2011 &ndash; 2015 Comics B.V.</li>
            <li>Geldersekade 96, 1012 BM Amsterdam</li>
            <li>Tel: (020) 4213688</li>
            <li>E&ndash;mail: henk@comics.nl</li>
        </ul>
    </footer>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/default.js"></script>
</body>
</html>