<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900,900italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Henk comics</title>
</head>
<body>

    <!-- nav bar top --> 
    <nav class="clearfix top-menu">
        <a href="" class="henk-logo-link">
            <img src="img/henk-logo.svg" onerror="this.onerror=null; this.src='img/henk-logo.png'" class="henk-logo">
        </a>

        <a href="#" class="hamburger">Menu <span class="fa fa-bars"></span></a>

        <ul class="">
            <li><a href="#">Home</a></li>

            <li class="dropdown">
                <a href="#">Store<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Comics</a></li>
                    <li><a href="#">Manga</a></li>
                    <li><a href="#">Books</a></li>
                    <li><a href="#">Toys</a></li>
                    <li><a href="#">Posters</a></li>
                    <li><a href="#">Gift card</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#">Events<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Livestream</a></li>
                </ul>
            </li>
            
            <li><a href="#">Subscription</a></li>
            <li><a href="#">Actiekaart</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>

        </ul>
    </nav>
            


    <div class="container products-page">

        <!-- new products --> 
        <div class="row">
            <section class="col-md-3 product-menu">
                <h2>Store</h2>
                <nav>
                    <a href="" class="cart">
                        <img class="cart-img" src="img/cart.png" alt="shopping basket">
                        <span class="amount-in-cart">2</span>    
                    </a>
                    
                    <ul>
                        <li><a href="">All items <span>&gt;</span> </a></li>
                        <li class="acive"><a href="">Comics <span>&gt;</span> </a></li>
                        <li><a href="">Books <span>&gt;</span> </a></li>
                        <li><a href="">Toys <span>&gt;</span> </a></li>
                        <li><a href="">Posters <span>&gt;</span> </a></li>
                        <li><a href="">Gift card <span>&gt;</span> </a></li>
                    </ul>

                    <p>We accept:</p>
                    <img class="paypal" src="img/paypal.png" alt="">
                    <img class="ideal" src="img/ideal.png" alt="">
                </nav>
            </section>

            <section class="col-md-9 products-overview">

                <div class="row">
                    <div class="col-xs-6">
                        <h1>All items</h1>
                        <p>234 artikelen</p>
                    </div>

                    <div class="col-xs-6">
                        <label class="sort-menu">Sort by:
                            <select id="sorting-dropdown">
                                <option value="1">relevance</option>
                                <option value="2">popularity</option>
                                <option value="3">releasedate</option>
                            </select>
                        </label>
                    </div>
                </div>
                
                <hr>

                <article class="product">
                    <img src="img/comics/1.jpg" alt="">
                    <p>Decision 2012 Barack Obama variant 1:10</p>
                    <p class="price">&euro; 20,00</p>
                    <input class="amount" type="text" min="1" max="10" value="1"/>   
                    <a href="#" class="nav-link">Add to basket <span class="fa fa-arrow-circle-right"></span></a>
                </article>

                <article class="product">
                    <img src="img/comics/1.jpg" alt="">
                    <p>Decision 2012 Barack Obama variant 1:10</p>
                    <p class="price">&euro; 20,00</p>
                    <input class="amount" type="text" min="1" max="10" value="1"/>  
                    <a href="#" class="nav-link">Add to basket <span class="fa fa-arrow-circle-right"></span></a>
                </article>

                <article class="product">
                    <img src="img/comics/1.jpg" alt="">
                    <p>Decision 2012 Barack Obama variant 1:10</p>
                    <p class="price">&euro; 20,00</p>
                    <input class="amount" type="text" min="1" max="10" value="1"/>  
                    <a href="#" class="nav-link">Add to basket <span class="fa fa-arrow-circle-right"></span></a>
                </article>

                <article class="product">
                    <img src="img/comics/1.jpg" alt="">
                    <p>Decision 2012 Barack Obama variant 1:10</p>
                    <p class="price">&euro; 20,00</p>
                    <input class="amount" type="text" min="1" max="10" value="1"/>  
                    <a href="#" class="nav-link">Add to basket <span class="fa fa-arrow-circle-right"></span></a>
                </article>

                <article class="product">
                    <img src="img/comics/1.jpg" alt="">
                    <p>Decision 2012 Barack Obama variant 1:10</p>
                    <p class="price">&euro; 20,00</p>
                    <input class="amount" type="text" min="1" max="10" value="1"/>  
                    <a href="#" class="nav-link">Add to basket <span class="fa fa-arrow-circle-right"></span></a>
                </article>

                <article class="product">
                    <img src="img/comics/1.jpg" alt="">
                    <p>Decision 2012 Barack Obama variant 1:10</p>
                    <p class="price">&euro; 20,00</p>
                    <input class="amount" type="text" min="1" max="10" value="1"/>  
                    <a href="#" class="nav-link">Add to basket <span class="fa fa-arrow-circle-right"></span></a>
                </article>

                <article class="product">
                    <img src="img/comics/1.jpg" alt="">
                    <p>Decision 2012 Barack Obama variant 1:10</p>
                    <p class="price">&euro; 20,00</p>
                    <input class="amount" type="text" min="1" max="10" value="1"/>  
                    <a href="#" class="nav-link">Add to basket <span class="fa fa-arrow-circle-right"></span></a>
                </article>

                <article class="product">
                    <img src="img/comics/1.jpg" alt="">
                    <p>Decision 2012 Barack Obama variant 1:10</p>
                    <p class="price">&euro; 20,00</p>
                    <input class="amount" type="text" min="1" max="10" value="1"/>  
                    <a href="#" class="nav-link">Add to basket <span class="fa fa-arrow-circle-right"></span></a>
                </article>

                <article class="product">
                    <img src="img/comics/1.jpg" alt="">
                    <p>Decision 2012 Barack Obama variant 1:10</p>
                    <p class="price">&euro; 20,00</p>
                    <input class="amount" type="text" min="1" max="10" value="1"/>  
                    <a href="#" class="nav-link">Add to basket <span class="fa fa-arrow-circle-right"></span></a>
                </article>

                <article class="product">
                    <img src="img/comics/1.jpg" alt="">
                    <p>Decision 2012 Barack Obama variant 1:10</p>
                    <p class="price">&euro; 20,00</p>
                    <input class="amount" type="text" min="1" max="10" value="1"/>  
                    <a href="#" class="nav-link">Add to basket <span class="fa fa-arrow-circle-right"></span></a>
                </article>

                <article class="product">
                    <img src="img/comics/1.jpg" alt="">
                    <p>Decision 2012 Barack Obama variant 1:10</p>
                    <p class="price">&euro; 20,00</p>
                    <input class="amount" type="text" min="1" max="10" value="1"/>  
                    <a href="#" class="nav-link">Add to basket <span class="fa fa-arrow-circle-right"></span></a>
                </article>

                <article class="product">
                    <img src="img/comics/1.jpg" alt="">
                    <p>Decision 2012 Barack Obama variant 1:10</p>
                    <p class="price">&euro; 20,00</p>
                    <input class="amount" type="text" min="1" max="10" value="1"/>  
                    <a href="#" class="nav-link">Add to basket <span class="fa fa-arrow-circle-right"></span></a>
                </article>

                <nav class="paging">
                    <a href="#">&lt; previous</a>
                    <span class="pages">
                        <a href="#">1</a> 
                        <a href="#">2</a> 
                        <a href="#">3</a> 
                        <a href="#">4</a> 
                        <a href="#">5</a> &#8230;
                        <a href="#">66</a> 
                        <a href="#">67</a>
                        <a href="#">67</a>
                    </span>
                    <a href="#">next &gt;</a>
                </nav>
            </section>  
        </div>       
        
    </div>

    <footer>
        <ul>
            <li>&#169; 2011 &ndash; 2015 Comics B.V.</li>
            <li>Geldersekade 96, 1012 BM Amsterdam</li>
            <li>Tel: (020) 4213688</li>
            <li>E&ndash;mail: henk@comics.nl</li>
        </ul>
    </footer>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/default.js"></script>
</body>
</html>