/* henk rood : hsl(358, 86%, 52%); */ 

@font-face {
    font-family: 'badaboom_bbregular';
    src: url('../fonts/badaboombb_reg-webfont.eot');
    src: url('../fonts/badaboombb_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/badaboombb_reg-webfont.woff2') format('woff2'),
         url('../fonts/badaboombb_reg-webfont.woff') format('woff'),
         url('../fonts/badaboombb_reg-webfont.ttf') format('truetype'),
         url('../fonts/badaboombb_reg-webfont.svg#badaboom_bbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body.bg-slideshow {
  background-image: url(../img/bg.jpg);  
  background-repeat: no-repeat; 
  background-position: center 4.2em;
  background-size: 190% auto;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* menu */
nav.top-menu {
  background-color: #fff;
  padding: 1rem 2rem 0 2rem;
  box-shadow: 0px 1px 4px 0px rgba(1, 2, 2, 0.2);
}
nav.top-menu > a.henk-logo-link {
  position: relative; 
  display: inline-block;
}
nav.top-menu > a.henk-logo-link:after {
  height: 2.2em;
  width: 22em;
  position: absolute;
  content: "";
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 4px 4px -2px hsla(180, 50%, 1%, 0.2);
  left: -1.5em;
  bottom: -2.2em;
  border: 0px solid hsl(0, 0%, 100%);
  border-radius: 0px 0px 4.2em;
}

nav.top-menu img.henk-logo {
  height: 4em;
}

nav.top-menu ul {
  list-style: outside none none;
  margin: 1em 0 0 0;
  padding: 0;
}
nav.top-menu ul {
  display: none; /* closed on mobile */
}
nav.top-menu ul.open {
  display: block;/* open the hamburger menu */
}
nav.top-menu ul li {
  padding: .8em;
  text-align: center;
  border-top: solid 1px #bbb;
}
nav.top-menu ul li a {
  font-family: "badaboom_bbregular",sans-serif;
  color: #000;
  font-size: 1.3em;
}
nav.top-menu ul li ul li:first-child {
  border-top: none;
}
nav.top-menu a span.caret {
  margin-left: .3em;
}
nav.top-menu .droppeddown {
  display: block;
  position: static;
  float: none;
}
nav.top-menu .hamburger {
  font-family: "badaboom_bbregular",sans-serif;
  color: #000;
  font-size: 2em;
  float: right;
}
nav.top-menu .hamburger span.fa {
  margin-left: .2em;
}


/* the first section after the menu has a large margin-top to make room for the slider */
body.bg-slideshow nav + div.container > .row > section {
   margin-top: 18em;
}


/* Title block */
section h1 {
  font-family: "Source Sans Pro",sans-serif;
  font-size: 1.7em;
  background-color: #000;
  color: #FFF;
  margin: 0px;
  display: inline-block;
  padding: .6em 1.6em;
}
section > h1 b {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #fff;
}
section h1.centered-red {
  font-family: "Source Sans Pro",sans-serif;
  font-size: 1.8em;
  background-color: hsl(358, 85%, 52%);
  color: hsl(0, 0%, 100%);
  padding: 0.5em 1.6em;
  display: block;
  width: 11em;
  text-align: center;
  font-weight: 700;
  margin: -3.201em auto 0;
}

/* standard link button thingy */
a.nav-link {
  background-color: #000;
  color: #ee1d25;
  padding: .8em 1.8em;
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  box-shadow: 5px 4px 0px;
  width: auto;
  font-size: .9em;
}
a.nav-link span {
  margin-left: 2.3em;
}


/* new products */
.featured {
  height: 34em;
  margin-bottom: 2em;
  position: relative;
  overflow: hidden;
  padding: 0px;
  background: transparent;
  padding: 0;
}
.featured div {
  position: absolute;
  background-color: #fff;
  padding: 3.5em 0; 
}
.featured div a {
  width: 15em;
  height: 100%;
  float: left;
}
.featured div a figure {
  width: 100%;
  display: block;
  overflow: hidden;
}
.featured div a figure img {
  width: 100%;
}
.featured div a figcaption {
  font-size: 1em;
  margin: 0;
  color: #000;
  font-family: "Source Sans Pro",sans-serif;
  text-transform: uppercase;
}
.featured > h1 {
  padding: .6em 3.6em;
}
.featured a.nav-link {
  bottom: 0;
  z-index: 100;
  box-shadow: 6px -5px 0px;
  color: #F8F62A;
  font-size: 1.3em;
  font-weight: bold;
  padding: .5em .9em;
}
.featured a.nav-link span {
  margin-left: .1em;
  font-size: .9em;
}



/* opening times */
.openingTime {
  background-image: url(../img/openingsbar.jpg);
  background-repeat: repeat-y; 
  background-size: 175% cover;
  background-position: center top;
  min-height: 3.7em;
  font-size: 1.1em;
  color: #fff;
  text-align: center;
  position: relative;
}
.openingTime h1 {
  position: absolute;
  top: -2.3em;
  left: 0;
  font-size: 1em;
  background-color: hsl(358, 86%, 52%);
}
.openingTime ul {
  list-style: outside none none;
  text-align: center;
  padding: 1.3em 0;
  margin: 0;
  display: inline-block;
}
.openingTime li {
  display: block;
  margin: 0 1em;
  text-align: left;
}
.openingTime em.current-day {
  font-weight: bold;
  font-style: normal;
}



/* top picks */
.top-picks {
  background-color: #FFF;
  padding: 1em 1em 2em;
  position: relative;
  margin-top: 4em;
  margin-bottom: 8em;
}
.top-picks .primary-img {
  margin-right: 2%;
  float: left;
  width: 68.5%;
}
.top-picks .secondary-img {
  padding-bottom: 2.3%;
  width: 29.5%;
}
.top-picks > h1 {
  padding: .6em 1.5em;
  position: absolute;
  top: -2.3em;
  left: 0;
}
.top-picks > h1 b {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #fff;
}
.top-picks h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-weight: 900;
  color: #000;
  margin-top: 0em;
  font-size: 1.6em;
}
.top-picks p {
  margin: 0 0 1.7em;
  font-size: 1.1em;
  line-height: 130%;
}
.top-picks a.nav-link {
  position: static;

}



/* henks facebook events */
.henks-facebook {
  position: relative;
  background-color: #FFF;
  padding: 0;
  margin-bottom: 4em; 
}
.henks-facebook > h1 {
  padding: .6em 1.5em;
  position: absolute;
  top: -2.3em;
  left: 0;
}
.henks-facebook > h1 b {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #fff;
}
.henks-facebook .row {
  margin: 0;
}
.henks-facebook .col-xs-6 {
  padding: 1em;
}
.henks-facebook .col-xs-6 + .col-xs-6 {
  padding: 0;
  position: relative;
  overflow: hidden; /* hides the overflowing triangle that cutsoff the photo */
}

.henks-facebook .col-xs-6 + .col-xs-6 img {
  width: 100%;
  position: relative;
}
.henks-facebook h2 {
  font-family: "Source Sans Pro",sans-serif;
  font-weight: bold;
  color: #000;
  margin-top: 0em;
  font-size: 1.6em;
  line-height: 105%;
}
.henks-facebook p {
  margin-bottom: 1.6em;
}
.henks-facebook a.nav-link {
  bottom: auto;
  right: auto;
  position: static;
  display: inline-block;
  color: #39a2de;
}

/* also used on events page */
.date {
  position: absolute;
  display: inline-block;
  right: 2em;
  bottom: 1em;
  color: #fff;
}
.triangle-mask-right .date {
  right: unset;
  left: 2em;
}
.date-day,
.date-month {
  font-family: "Source Sans Pro",sans-serif;
  text-shadow: .1em .1em 1em #000,
               0em 0em 1em #000;
  font-weight: 600;
  display: block;
  text-align: right;
}
.triangle-mask-right .date-day,
.triangle-mask-right .date-month {
  text-align: left;
}
.date-day {
  font-size: 5em;
  line-height: .85em;
}
.date-month {
  font-size: 1.3em;
  line-height: 1em;
}



/* actiekaart */
.actiekaart {
  margin-bottom: 9em;
  margin-top: 3.5em;
  padding-left: 3em;
}
.actiekaart h1 {
  font-family: "badaboom_bbregular",sans-serif;
  font-size: 3.8em;
  padding: 0px;
  background-color: transparent;
  color: #EE1D25;
  text-shadow: 2px 5px 0px #000;
  letter-spacing: -2px;
  margin-bottom: .3em;
  display: block;
}
.actiekaart img {
  width: 14em;
  float: left;
  margin-right: 1.5em;
  margin-left: .5em;
}
.actiekaart .textblock {
  width: 11em;
  float: left;
}
.actiekaart a.nav-link {
  margin-top: 1em;
  bottom: unset;
  right: unset;
}



/* ask henk */
.ask-henk {
  margin-bottom: 4em;
  margin-top: 10em;
}
.ask-henk .innerbox {
  background-color: #2E2E2E;
  padding: 5em 3em 3em 3em;
  position: relative;
}
.ask-henk .innerbox .ask-henk-logo,
.ask-henk .innerbox .ask-henk-head {
  position: absolute;
}
.ask-henk .innerbox .ask-henk-head {
  top: 1.9em;
  left: 4em;
  z-index: 99;
}
.ask-henk .innerbox .ask-henk-logo {
  top: -5.7em;
  left: 8.4em;
}
.ask-henk .conversation {
  background-color: #FFF;
  height: 22em;
  margin-bottom: 1.5em;
  padding: 1em;
  overflow-x: hidden;
}
.ask-henk .conversation p.question,
.ask-henk .conversation p.answer {
  font-style: italic;
  font-weight: 900;
  color: #000;
  padding: .5em 2.2em;
  border-radius: 1em;
  position: relative;
  display: inline-block;
}
.ask-henk .conversation p.question:after ,
.ask-henk .conversation p.answer:after {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  weight: 0;
}
.ask-henk .conversation p.question {
  background-color: #9BD19C;
  margin-left: 17%;
  margin-right: 3%;
  float: right;
  width: 80%;
}
.ask-henk .conversation p.question:after {
  bottom: 30%;
  right: -0.9em;
  border-top: .6em solid transparent;
  border-bottom: .4em solid transparent;
  border-left: 1em solid #9BD19C;
}
.ask-henk .conversation p.answer {
  background-color: #e5e5e5;
  margin-right: 17%;
  margin-left: 3%;
  float: left;
  width: 80%;
}
.ask-henk .conversation p.answer:after {
  bottom: 30%;
  left: -0.8em;
  border-top: .4em solid transparent;
  border-bottom: .6em solid transparent;
  border-right: 1em solid #E5E5E5;
}
.ask-henk label {
  color: #FFF;
  width: 100%;
}
.ask-henk input {
  width: 84%;
  display: inline-block;
  height: 2.4em;
  margin-top: .6em;
}
.ask-henk button {
  width: 16%;
  display: inline-block;
  color: #fff;
  background-color: #ee1d25;
  border: none;
  outline: none;
  height: 2.4em;
}

/* home upcoming facebook event */
.facebook-event-home {
  background-color: #fff;
  margin-top: 6em;
  margin-left: 15px;
  margin-right: 15px;
}
 a.home-fb-event-link {
  margin-top: 1em;
  position: static;
  display: inline-block;
 }
.facebook-event-home section > h1 {
    padding: 0.6em 1.5em;
    position: absolute;
    top: -2.3em;
    left: 0px;
}
.facebook-event .cutoffbox-text {
  padding: 2em 1em 2em 2em;
}


/* location */
.location {
  text-align: center;
  background-color: #ee1d25;
}
.location h1 {
  background-color: transparent;
  font-weight: bold;
  font-size: 2.5em;
}
.location .map-container {
  background-color: #fff;
  height: 30em;
}

footer {}
footer ul {
  list-style: outside none none;
  text-align: center;
  padding: 1.3em 0;
  margin: 0;
}
footer ul li {
  display: inline-block;
  margin: 0 1em;
}

/* bg box */

div.graybg {
  padding: 4em 0 3em;
  background-color: #dbdbdb;
}
html.graybg {
  background-color: #dbdbdb;
}



/* * *                              *
 * products-overview / product-zoom *
 *                              * * */
.products-page {
  margin-top: 4em;
}

.product-menu {
  margin-bottom: 2em;
}

section.product-menu h2 {
  color: hsl(0, 0%, 100%);
  font-size: 1.3em;
  background-color: hsl(360, 78%, 54%);
  text-align: center;
  padding: 0.4em;
  font-weight: bold;
  margin: 0;
}
.product-menu .cart {
    display: inline-block;
    position: absolute;
    margin-bottom: 2em;
    right: 4em;
}
.product-menu .cart-img {
  width: 4em;
}
.product-menu .amount-in-cart {
  position: absolute;
  top: -0.3em;
  right: -0.7em;
  background-color: hsl(360, 78%, 54%);
  border: 0px solid transparent;
  border-radius: 3em;
  width: 2.2em;
  height: 2.2em;
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 2.1em;
  font-size: 0.9em;
}
section.product-menu nav {
  padding-left: 2em;
  background-color: hsl(0, 0%, 92%);
  padding-top: 4em;
  padding-bottom: 1em;
}
section.product-menu nav ul {
  display: block;
  width: 100%;
  padding: 0px 7em 0 0;
  margin-bottom: 1em;
}
section.product-menu nav ul li {
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 1em;
  width: 4.7em;
}
section.product-menu nav ul li a {
  font-family: "Source Sans Pro",sans-serif;
  padding: 1em 0px;
  display: block;
  color: hsl(0, 0%, 0%);
}
section.product-menu nav ul li.acive a {
  color: hsl(0, 78%, 54%);
  font-weight: bold;
}
section.product-menu nav ul li a span {
  float: right;
}
section.product-menu .ideal {
  width: 4em;
}
section.product-menu .paypal {
  width: 6em;
  margin: 0 1em 1em 0;
}

section.products-overview h1 {
  background-color: transparent;
  color: #000;
  padding: 0;
}
section.products-overview .sort-menu {
  float: right;
}
section.products-overview hr {
  margin: 0;
  border-color: hsl(0, 0%, 7%);
}
section.products-overview .product {
  width: 46.7%;
  margin-right: 6.6%;
  margin-bottom: 3em;
  float: left;
  margin-top: 2em;
}
section.products-overview .product p {
  margin: 0;
}
section.products-overview .product p.price {
  margin-bottom: 1em;
  font-weight: bold;
}
section.products-overview .product:nth-child(2n+2) {
  margin-right: 0;
}

section.products-overview .product img {
  width: 100%;
}
section.products-overview .product input,
section.product-zoom input {
  width: 2.2em;
  text-align: center;
  height: 2.2em;
  margin-right: 0.4em;
}
section.products-overview .product a.nav-link {
  position: static;
  padding: 0.6em 1em;
}
section.products-overview .product a.nav-link span {
    margin-left: 1em;
}
.products-overview .paging {
  font-size: 1.3em;
  bottom: 0;
}
.products-overview .paging a {
  margin: 0px 0.4em;
}

/* things for product zoom-zoom zoom-zoom */
.product-zoom nav.product-pagination {
  border-bottom: solid 0.1em #000;
  margin-bottom: 3em;
}
.product-zoom .product-pagination .directions {
  float: right;
}
.product-zoom .product-pagination a.next,
.product-zoom .product-pagination a.previous {
  display: inline-block;
  color: #000;
}
.product-zoom .product-pagination a.next {
  margin-left: 2em;
}
.product-zoom .product-pagination a.back {
  background-color: rgb(0, 0, 0);
  padding: 0.5em 1.5em;
  position: static;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  margin-bottom: -.1em;
}
.product-zoom .product-pagination a.back span.fa-arrow-circle-left {
  margin-right: 1em;
}

.product-zoom .product-title {
  background-color: #fff;
  color: #000;
  padding: 0;
  font-size: 2.3em;
  font-weight: bold;
}
.product-zoom .variant {
  margin: 0 0 1em 0;
  font-size: 1.7em;
  color: #000;
  font-weight: 300;
}
.product-zoom .price {
  font-size: 2.8em;
  font-weight: bold;
  margin: 0;
  float: right;
  color: #000;
  margin-top: -0.19em;
}
.product-zoom a.nav-link {
  position: static;
  bottom: unset;
  right: unset;
}
.product-zoom .stock-status em {
  font-weight: bold;
  color: #60bf88;
}

/* description */
.product-zoom .description-box {
  max-height: 10.2em;
  position: relative;
  overflow: hidden;
}
.product-zoom .comic-description {
  margin: 0; 
  font-size: 1.2em;
}
.product-zoom .read-more {
  color: hsl(358, 86%, 52%);
  text-decoration: underline;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  width: 100%;
}

/* add to cart */
.product-zoom .add-to-cart {
  margin-top: 2.5em;
}
.product-zoom .summary {
  background: #ebebeb;
  padding: 1em;
  margin-top: 3em;
}
.product-zoom table caption,
.product-zoom .summary th,
.product-zoom .summary td {
  color: #000;
}
.product-zoom table caption {
  padding: 0;
  font-weight: bold;
  margin-bottom: 1em;
}
.product-zoom .summary th {
  padding-right: 4em;
  font-weight: normal;
  font-style: italic;
}

.product-zoom img.comic-img {
  width: 100%;
}


/* * *                                   *
 * regular-page: contact / team / events *
 *                                   * * */
.regular-page {
  background-color: #fff;
  padding: 2em; 
}
/* grey blocks*/
.regular-page > section {
  background-color: #dbdbdb;
  margin-top: 2em;
  overflow: hidden;
}
.regular-page h2 {
  font-family: "badaboom_bbregular",sans-serif;
  color: #000;
  font-size: 2.2em;

}

/* inside of block with cutoff photo */
.regular-page p,
.regular-page li {
  color: #000;
}
.regular-page .row {
  margin: 0;
  position: relative;
}
.regular-page .col-sm-5,
.regular-page .col-sm-6,
.regular-page .col-sm-7 {
  margin: 0;
  padding: 0 2em;
}
.regular-page .col-sm-5:last-child,
.regular-page .col-sm-6:last-child,
.regular-page .col-sm-7:last-child {
  float: right;
  text-align: right;
}
.col-sm-6.cutoffbox-img,
.col-sm-7.cutoffbox-img {
  padding: 0;
  overflow: hidden; /* hides the overflowing triangle that cutsoff the photo */
}
.col-sm-5 + .col-sm-7.cutoffbox-img,
.col-sm-6 + .col-sm-6.cutoffbox-img {  
  left: unset;
  right: 0;
}
.cutoffbox-text {
  display: block;
  padding-bottom: 2em;
}

.cutoffbox-img {
  display: block;
  width: 100%;
  height: 15em;
}


/* contact page specific */
.regular-page .row p {
  margin: 0;
}
.regular-page .row p:last-child {
  margin-bottom: 2em;
}
/* add placeholder bgimages to the cutoffbox boxes */
.regular-page section.maps-placeholder {
  background: transparent none no-repeat scroll center center / cover;
  background-image: url("../img/maps-placeholder.jpg");
}

/* contact form */
.regular-page form {
  margin-bottom: 1em;
}
.regular-page label, 
.regular-page input,
.regular-page textarea {
  display: block;
  width: 95%;
}

.regular-page a.nav-link {
  background-color: hsl(0, 0%, 0%);
  color: hsl(358, 86%, 52%);
  padding: 0.8em 1.8em;
  box-shadow: 5px 4px 0px;
  width: auto;
  font-size: 0.9em;
  display: inline-block;
  margin: 2em 0;
  right: unset;
  position: static;
  bottom: unset;
}
.comicbookstoreday {
  background: transparent none no-repeat scroll center center / cover;
  background-image: url("../img/comicbookstoreday.jpg");
}


@media (min-width: 500px) {
  /* tweaking size of sideshow */
  body.bg-slideshow {
    background-size: 165% auto;
  }
}
@media (min-width: 600px) {
  /* product overview */
  section.products-overview .product {
    width: 28.9%;
    margin-right: 6.6%;
    margin-bottom: 3em;
    float: left;
    margin-top: 2em;
  }
  section.products-overview .product:nth-child(2n+2) {
    margin-right: 6.6%;
  }
  section.products-overview .product:nth-child(3n+2) {
    margin-right: 0;
  }
}
@media (min-width: 648px) { 
  /* tweaking size of sideshow */
  body.bg-slideshow {
    background-size: 140% auto;
  }

  .actiekaart {
    padding-left: 7.5em;
  }
  .actiekaart h1 {
    font-size: 4.8em;
  }

  
  .henks-facebook {
    padding: 0px 0px 0px 1em;
  }

  .ask-henk {
    margin: 10em 6em 4em;
  }
}

/* bootstrap: small devices */
@media (min-width: 768px) {
  body.bg-slideshow {
    background-size: 133%;
  }

  body.bg-slideshow nav + div.container > .row > section {
     margin-top: 24em;
  }
  
  .featured a.nav-link {
    top: 1.9em;
    right: 2.3em;
    bottom: auto;
  }

  .top-picks {
    padding: 1em;
  }
  .top-picks p {
    margin: 0px;
    width: 68.5%;
  }
  .top-picks a.nav-link {
    position: absolute;
    right: 1.5em;
  }

  .openingTime ul {
    text-align: center;
  }
  .openingTime li {
    display: inline-block;
  }

  .actiekaart {
    padding-left: 10em;
    margin-bottom: 12em;
  }
  .actiekaart img {
    width: 16em;
  }

  .ask-henk {
    margin: 10em 8em 4em;
  }


  /* cutoff box */
  .col-sm-7.triangle-mask-left {
    width: 58.3333%;
  }
  .col-sm-7.cutoffbox-img {
    display: block;
  }
  .col-sm-6.cutoffbox-img,
  .col-sm-7.cutoffbox-img {
    position: absolute;
    height: 100%;
  }

  .col-sm-7.cutoffbox-img {
    display: block;
    width: 58.3333%;
    height: 100%;
  }
  .col-sm-6.cutoffbox-img {
    display: block;
    width: 50%;
    height: 100%;
  }

  /* cuts off images diagonally (put overflow hidden on parent element to fix part of the triangle sticking out)  */
  .hide-overflow {
    overflow: hidden;
  }
  .triangle-mask-left:before, 
  .triangle-mask-right:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 10%;
    z-index: 1000;
    border-style: solid;
    bottom: 0;
  }
  .triangle-mask-left:before {
    border-width: 22em 4em 0 0;
    border-width: 30em 5em 0 0;
    border-color: #FFF transparent transparent #FFF;
    left: 0;
  }
  .triangle-mask-right:before {
    border-width: 0 4em 22em 0;
    border-width: 0 5em 30em 0;
    border-color: transparent #FFF transparent;
    right: 0;
  }

  /* triangle masks for inside gray blocks */
  .regular-page .triangle-mask-left:before {
    border-color: #dbdbdb transparent transparent #dbdbdb;
  }
  .regular-page .triangle-mask-right:before {
    border-color: transparent #dbdbdb transparent;
  }
  .regular-page .triangle-mask-left:before img,
  .regular-page .triangle-mask-right:before img {
    margin: 0;
    padding: 0;
  }
}

/* bootstrap: medium devices */
@media (min-width: 992px) {
  body.bg-slideshow {
    background-size: 100%;
  }
  .top-picks p {
    width: 62.6%;
  }

  .actiekaart {
    margin-bottom: 13em;
  }
  .actiekaart h1 {
    font-family: "badaboom_bbregular",sans-serif;
    font-size: 3.8em;
  }
  .actiekaart img {
    width: 10em;
  }
  .actiekaart {
    padding-left: 3em;
  }

  .henks-facebook .col-xs-6 + .col-xs-6 {
    overflow: hidden;
  }
  .henks-facebook .col-xs-6 + .col-xs-6 img {
    width: 118%;
    margin-left: -1em;
  }

  .ask-henk {
    margin: 10em 0 4em 3em;
  }

  .event .event-textcontainer .row + .row .col-md-5:first-child {
    padding-right: 4em;
    border-right: 1px solid rgb(255, 255, 255);
  }
  .event .event-textcontainer .row + .row .col-md-5:last-child {
      padding-left: 4em;
  }
  .event {
    padding-bottom: 3em;
  }
  .event-textcontainer a.to-event {
    right: 0em;
    bottom: 0em;
  }

  /* products page */
  section.product-menu h2 {
    margin-right: 14%;
  }
  section.product-menu nav {
    padding-left: 2em;
    margin-right: 14%;
    padding-bottom: 4em;
  }
  .product-menu .cart {
    position: relative;
    margin-bottom: 2em;
    margin-left: 2.2em;
    right: unset;
  }
  section.product-menu nav ul {
    width: 100%;
    padding-right: 0;
  }
  section.product-menu nav ul li {
    display: block;
    border-bottom: 1px solid hsl(0, 0%, 0%);
    margin-right: 2em;
    margin-bottom: 1em;
    width: auto;
  }
}


/* bootstrap: large devices */
@media (min-width: 1200px) {
  body.bg-slideshow {
    background-size: contain;
  }
  .top-picks p {
    width: 68.6%;
  }

  .actiekaart h1 {
    font-size: 4.8em;
  }
  .actiekaart img {
    width: 16em;
  }

  .henks-facebook .col-xs-6 + .col-xs-6 img {
    width: 100%;
    margin-left: 0;
  }
  
  section.products-overview .product {
    width: 20%;
  }
  section.products-overview .product:nth-child(3n+2) {
    margin-right: 6.6%;
  }
  section.products-overview .product:nth-child(4n+2) {
    margin-right: 0;
  }

  /* product page */
  section.product-menu nav {
    padding-left: 33%;
  }
  .product-menu .cart {
    margin-left: 0;
  }
}


/* menu bar media query*/
@media (min-width: 900px) {
  nav ul {
    list-style: outside none none;
    display: inline-block;
    float: right;
    margin: 0;
  }
  nav.top-menu > ul {
    display: inline-block;
    margin-top: 0;
  }
  nav.top-menu ul li {
    display: inline-block;
    padding: .8em;
    text-align: left;
    border: none;
  }
  nav.top-menu ul li a {
    font-family: "badaboom_bbregular",sans-serif;
    color: #000;
    font-size: 1.3em;
  }
  nav.top-menu a span.caret {
    margin-left: .3em;
  }
  nav.dropdown {
    display: inline-block;
  }
  nav.top-menu .hamburger {
    display: none;
  }
}